@font-face {
    font-family: 'Tourney';
    src: url('./Tourney-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'IBMPlexSans';
    src: url('./IBMPlexSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }